.title{
    text-align: center;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }   
    100% {
        transform: translateY(0);
    }
}

body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    background-color: #f2f2f2;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.liste{
    list-style: none;
    display: flex;
    gap: 50px;
}

.btn{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
}

.btn:hover{
    background-color: green;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.divmaman{
    display: flex;
    height: 50vh;
    width: 100vw;
    justify-content: space-around;
    padding-top: 2rem;
}

.un{
    background-color: lightblue;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deux{
    background-color: lightgreen;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trois{
    background-color: lightcoral;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quatre{
    background-color: lightgoldenrodyellow;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countainers{
    flex-direction: column;
    font-size: 1.5rem;
}

.countainers:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
    transition: 1s ease-in-out;
    background-color: green;
}
