.box{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    position: relative;
    background-color: lightgrey;
}

.color{
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

.point{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
}

header{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.coords{
    display: flex;
    flex-direction: row;
}